root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
tab_width = 4

[*.{mjs, js, coffee, ts, jsx, tsx, vue}]
indent_size = 2

[*.{htm, html, svg}]
indent_size = 2

[*.{css, sass, scss, less}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
